// container
.container {
  width: 90%;
  margin: 0 auto;
}

// section title
.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 44px;
  color: #FFFFFF;

  &__span {
    color: #FF9900;
  }
}

// text-center
.text-center {
  text-align: center;
}
